 h3{
 	text-align: center;
 	padding: 20px;
 	color: solid black;

 }

 

p{
	text-align: left;
	font-size: 15px ;
	color : black;
}

 @media (max-width: 500px) {
                img {
                     width :60%;
                     height :65%;
                }
}


#hover{
 padding-top: 15px;

}

 
#hover:hover{
display : none;
}

.centre{
	text-align: center;
	font-size: 20px;
}